#light_mode{
    background-color:#FAFAFA;
    box-shadow: 0px 0px 10px #ccc;
}
#dark_mode_container{
    background-color:black;
    color: white;
}
#top_nav_container{
    background-color:#FAFAFA;
    box-shadow: 0px 0px 10px #ccc;
    
}
#nd_nav_container{

}
input[text]:focus{
    box-shadow: none;
    outline: none;
}
#last_navbar_container{
    box-shadow: 0px 0px 10px #ccc;
}

